Repository scroll-tech/go-ethereum, pull requests merged in 2023-11, with the labels that each got.

#548 feat(rpc): add scroll_* rollup APIs
  eth/api.go
  eth/api_backend.go
  eth/gasprice/feehistory.go
  internal/web3ext/web3ext.go
  params/version.go
Labels: feature

#558 feat: add `scroll_getTxBlockTraceOnTopOfBlock ` API
  eth/tracers/api_blocktrace.go
  internal/web3ext/web3ext.go
  params/version.go
Labels: bump-version

#564 feat (`libzkp-v0.9.8`): recordStorageDetail even when LogConfig.DisableStorage == true
  core/trace.go
  core/vm/logger.go
  params/version.go
  rollup/circuitcapacitychecker/libzkp/Cargo.lock
  rollup/circuitcapacitychecker/libzkp/Cargo.toml
Labels: breaking-change, bump-version

#561 fix(tracing): fix `getTxResult` returned error format
  core/trace.go
  params/version.go
Labels: bump-version
