Repository scroll-tech/go-ethereum, pull requests merged in 2024-04, with the labels that each got.

#699 fix(rollup-verifier): hardcode genesis codec version as codecv0 and sync codecv1 implementation
  params/version.go
  rollup/rollup_sync_service/rollup_sync_service.go
  rollup/types/encoding/codecv1/codecv1.go
Labels: bug

#706 feat(worker): seal block early if we're over target block time
  miner/worker.go
  miner/worker_test.go
  params/version.go
Labels: bump-version

#707 feat: add block time metric
  core/blockchain.go
  params/version.go
Labels: bump-version

#715 feat(zktrie): upgrade to 0.8.2
  go.mod
  go.sum
  params/version.go
  trie/zk_trie.go
  trie/zk_trie_proof_test.go
  trie/zktrie_deletionproof.go
Labels: bump-version

#712 perf(poseidon): eliminate heap allocations in poseidon
  crypto/poseidon/poseidon.go
  crypto/poseidon/poseidon_test.go
  params/version.go
Labels: bump-version

#697 (feat) core/vm: implement EIP-5656, mcopy opcode
  core/vm/eips.go
  core/vm/gas_table.go
  core/vm/instructions_test.go
  core/vm/jump_table.go
  core/vm/memory.go
  core/vm/memory_table.go
  core/vm/memory_test.go
  core/vm/opcodes.go
  params/version.go
Labels: feature, bump-version

#698 (feat)core/vm: Add Upgrade #4 fork configuration
  core/state_processor_test.go
  core/vm/interpreter.go
  core/vm/jump_table.go
  core/vm/runtime/runtime.go
  params/config.go
  params/version.go
Labels: bump-version

#734 feat(zktrie): bump to v0.8.4
  go.mod
  go.sum
  params/version.go
Labels: bump-version
